
.wrapper{
    width: 1170px;
    margin: 0 auto;
}

.wrapper::after {
     display: block;
     content: "";
     clear: both;
   }

.textCenter{
    text-align: center;
}

.textRight{
    text-align: right;
}

.basket{
    margin-right: 0px!important;
}


/* 1. section1  --------------------------------------------------------------------------*/

.section1{
    width: 100%;
    background-image: url(../img/mainImage.png);
    background-position: center center;
    background-position-y: 0px;
    background-repeat: no-repeat;
    padding-bottom: 408px;
}

.logoText{
    font-size: 20px;
    font-family: "KristenITC";
    color: rgb(249, 98, 87);
    line-height: 1.3;
    margin-left: 9px;
    margin-top: 13px;
}

.logoBlock{
    margin-top: 16px;
    margin-left: 22px;
    width: 170px;
    overflow: hidden;
}

.floatRight{
    float: right;
}

.floatLeft{
    float: left;
}

.decorationNone{
     text-decoration: none;
}

.menuButtons>ul li {
    list-style-type: none;
    margin-right: 34px;
    margin-top: -9px;
    box-sizing: border-box;
   }

.menuButtons>ul>li>a{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height: 4.857;
    color: #262626;
}
.mainMenu{
    margin-bottom: 658px;
    width: 100%;
}

.mainButton{
    margin: 0 auto;
    background-color: #f96257;
    border-radius: 2px;
    width: 170px;
    clear: both;
    padding-top: 13px;
    padding-bottom: 12px;
}

.btn{
    background-color: #ffffff;
}

.wrapper .btn a {
    color: #fb968f;
}

.mainButton a{
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
}

/* 2. section2  --------------------------------------------------------------------------*/

.section2{
    width: 100%;
    background-color: #ffffff;
}

.gardenText{
    margin-bottom: 57px;
}

.gardenText p{
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    color: rgb(38, 38, 38);
    line-height: 22px;
}

.section2Buttons{
    width: 875px;
    margin: 0 auto;
}

.button1{
    background-color: #d8da77;
}

.button2{
    background-color: #a7ad27;
}

.button3{
    background-color: #f96257;
}

.section2Buttons div{
    padding-top: 26px;
    padding-bottom: 30px;
    width: 271px;
    margin-right: 20px;
    border-radius: 3px;
}

.section2Image{
    background-image: url(../img/strawberrySection2.png);
    width: 843px;
    height: 555px;
    margin: 0 auto;
    margin-top: 251px;
}

.section2Buttons div a{
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
  color: rgb(255, 255, 255);
}

/* 3. section3  --------------------------------------------------------------------------*/

.section3{
    background-color: #f7f7f7;
    width: 100%;
    padding-top: 94px;
    padding-bottom: 120px;
}

.section3Text p{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: rgb(38, 38, 38);
    line-height: 21px;
}

.section3Text{
    margin-bottom: 40px;
}

span{
    color: #f96257;
}

/* 4. section4  --------------------------------------------------------------------------*/

.section4{
    width: 100%;
    background-color: #ffffff;
    padding-top: 93px;
    padding-bottom: 98px;
}

.section4Image{
    width: 687px;
    height: 648px;
    background-image: url(../img/strawberrySection4.png);
    margin-right: 185px;
    margin-bottom: 46px;
}

.description p{
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
}

.description>p:nth-child(1){
    position: relative;
    top: 288px;
    left: 209px;
}

.description>p:nth-child(2){
    position: relative;
    top: 330px;
    left: 152px;
}

.description>p:nth-child(3){
    position: relative;
    top: 374px;
    left: 169px;
}

.section4Text{
    clear: both;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    line-height: 21px;
}

.drinkImage{
    background-image: url(../img/drink.png);
    width: 48%;
    height: 703px;
    margin-top: 102px;
}

.drinkDescription{
    width: 50%;
}

.drinkDescription {
    text-align: left;
    margin-top: 344px;
}

.title{
  font-size: 36px;
  font-family: 'Poppins', sans-serif;
}

.drinkDescription ul li{
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  color: rgb(38, 38, 38);
  line-height: 2.143;
}

.drinkDescription ul{
    list-style-image: url(../img/test1.png);
    padding-left: 21px;
}


/* 5. section5  --------------------------------------------------------------------------*/

.section5{
    width: 100%;
    padding-top: 102px;
    padding-bottom: 98px;
    background-image: url(../img/section5image.png);
}


.section5Text{
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    line-height: 16px;
}

/* 6. section6  --------------------------------------------------------------------------*/

.section6{
    width: 100%;
    background-color: #ffffff;
    padding-top: 74px;
    padding-bottom: 90px;
}

.section6Image{
    width: 713px;
    height: 475px;
    background-image: url(../img/strawberrySection6.png);
    margin: 0 auto;
}

.section6Text{
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    color: rgb(38, 38, 38);
    margin-top: -47px;
    line-height: 15px;
    margin-bottom: 45px;
}

/* 7. section7  --------------------------------------------------------------------------*/


.section7{
    width: 100%;
    background-color: #f7f7f7;
    padding-top: 102px;
    padding-bottom: 98px;
}

.sprite{
    background-image: url(../img/sprite.png); 
    width: 102px;
    height: 13px;
}

.left{
    width: 46%;
    margin-right: 40px;
}

.right{
    width: 50%;
}

.icon{
    color: #f96257!important;
}

.left div{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #262626;
    line-height: 30px;
    margin-left: 10px;
    margin-right: 50px;
}

.wrapper .left i{
    margin-right: : 4px;
}